@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Saudi';
  src: url('/fonts/Saudi-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Saudi';
  src: url('/fonts/Saudi-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Custom base styles can go here */
body {
  background-color: #f8f9fa;
}
